<main>
    <div class="container">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Formulario de registro</h5>
            <form class="row g-3">
                <div class="col-6">
                    <label class="form-label" for="firstName">Nombre:</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="col-6">
                    <label class="form-label" for="lastName">Apellido:</label>
                    <input class="form-control" type="text"/>
                </div>
            </form>
        </div>
      </div>
    </div>
  </main>
